flows.json
[{"id":"2dd1e81f.8746d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ffc4e4be.7aca58","type":"inject","z":"2dd1e81f.8746d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":160,"wires":[["ab9aab3a.c04bf8"]]},{"id":"ab9aab3a.c04bf8","type":"debug","z":"2dd1e81f.8746d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":80,"wires":[]},{"id":"6be1e4e5.0b341c","type":"ibmiot in","z":"2dd1e81f.8746d8","authentication":"apiKey","apiKey":"514519a3.975c68","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"ard123","applicationId":"","deviceType":"arduino","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":320,"wires":[["5b55b7bc.430a58","ab9aab3a.c04bf8","bcac437f.4db49"]]},{"id":"5b55b7bc.430a58","type":"function","z":"2dd1e81f.8746d8","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":280,"wires":[["ab9aab3a.c04bf8","6de48015.5a1"]]},{"id":"bcac437f.4db49","type":"function","z":"2dd1e81f.8746d8","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":420,"wires":[["4d53740.f206c8c","ab9aab3a.c04bf8"]]},{"id":"6de48015.5a1","type":"ui_gauge","z":"2dd1e81f.8746d8","name":"","group":"ff39f037.255e6","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":300,"wires":[]},{"id":"4d53740.f206c8c","type":"ui_gauge","z":"2dd1e81f.8746d8","name":"","group":"ff39f037.255e6","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":460,"wires":[]},{"id":"bd279af5.68bbd8","type":"ui_button","z":"2dd1e81f.8746d8","name":"","group":"ff39f037.255e6","order":3,"width":0,"height":0,"passthru":false,"label":"HEALTHMONITORON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"HEALTHMONITORON\"}","payloadType":"json","topic":"","x":260,"y":800,"wires":[["6ac11b2c.b3a2f4","f59eb710.e553d8"]]},{"id":"b2aec274.7009d","type":"ui_button","z":"2dd1e81f.8746d8","name":"","group":"ff39f037.255e6","order":4,"width":0,"height":0,"passthru":false,"label":"HEALTHMONITOROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"HEALTHMONITOROFF\"}","payloadType":"json","topic":"","x":270,"y":960,"wires":[["6ac11b2c.b3a2f4","f59eb710.e553d8"]]},{"id":"6ac11b2c.b3a2f4","type":"debug","z":"2dd1e81f.8746d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":760,"wires":[]},{"id":"f59eb710.e553d8","type":"ibmiot out","z":"2dd1e81f.8746d8","authentication":"apiKey","apiKey":"514519a3.975c68","outputType":"cmd","deviceId":"ard123","deviceType":"arduino","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":820,"y":940,"wires":[]},{"id":"68a1f09b.fb80e","type":"http in","z":"2dd1e81f.8746d8","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":240,"y":560,"wires":[["fdb224f1.a4b8e8"]]},{"id":"fdb224f1.a4b8e8","type":"function","z":"2dd1e81f.8746d8","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":560,"wires":[["fdb54de3.71fc8"]]},{"id":"fdb54de3.71fc8","type":"http response","z":"2dd1e81f.8746d8","name":"","statusCode":"","headers":{},"x":840,"y":560,"wires":[]},{"id":"1a913751.066329","type":"http in","z":"2dd1e81f.8746d8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":240,"y":660,"wires":[["18ee3ab5.7facb5"]]},{"id":"18ee3ab5.7facb5","type":"function","z":"2dd1e81f.8746d8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":660,"wires":[["5ef1290d.b2f738","bf5e378b.6e8858","f59eb710.e553d8"]]},{"id":"5ef1290d.b2f738","type":"http response","z":"2dd1e81f.8746d8","name":"","statusCode":"","headers":{},"x":840,"y":660,"wires":[]},{"id":"bf5e378b.6e8858","type":"debug","z":"2dd1e81f.8746d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":600,"wires":[]},{"id":"514519a3.975c68","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ff39f037.255e6","type":"ui_group","z":"","name":"Default","tab":"8b85c5a6.b12628","order":1,"disp":true,"width":"6","collapse":false},{"id":"8b85c5a6.b12628","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]